body{
    background-image: url(./img/myrecipe02.jpg);
    background-attachment: fixed;
    background-size: cover;
    backface-visibility: visible;
}
ol{
    color: rgb(179, 5, 5);
    background-color: rgb(161, 155, 144);
    text-align: center;
    background: linear-gradient(to right,rgb(239, 236, 231),rgb(231, 191, 191));
}
p{
    background-attachment: fixed;
    color: rgb(253, 11, 11);
    text-shadow: 0cqmax;
    text-align: center;
    
}