body{
    background-image: url(./img/myrecipe02.jpg);
    background-attachment: fixed;
    background-size: cover;
    backface-visibility: visible;
}
ol{
    color: brown;
    background-color: blanchedalmond;
}
p{
    background-color: bisque;
}